.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile
*.Rproj
MD5
build/
*.tar.gz
.Rcheck/
*.Rcheck/
*_cache/
*.Rout
*.Rout.save
*.Rout.fail
*.Rout.log
*.out
*.log
*.tmp
*.bak
*.swp
*.swo
*.old
packrat/
renv/library/
renv/staging/
renv.lock
Thumbs.db
ehthumbs.db
.DS_Store
.AppleDouble
*.~lock.*
.idea/
.vscode/
*.code-workspace
cran-comments.md
.Rbuildignore